<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>COMP 521 Files and Databases Fall 2020</h1>
<h1 style="font-size: 200%;">Problem Set 0</h1>
</div>

---
For this assignment you have relations with these schemas:

```sql
CREATE TABLE Department (
    did INTEGER PRIMARY KEY,
    name TEXT
)

CREATE TABLE Course (
    cid INTEGER PRIMARY KEY,
    did INTEGER,
    name TEXT,
    num INTEGER,
    creditHours INTEGER,
    FOREIGN KEY(did) REFERENCES Department
)

CREATE TABLE Student (
    sid INTEGER PRIMARY KEY,
    did INTEGER,
    fname TEXT,
    lname TEXT,
    FOREIGN KEY(did) REFERENCES Department
)

CREATE TABLE Enrolled_in (
    eid INTEGER PRIMARY KEY,
    sid INTEGER,
    cid INTEGER,
    FOREIGN KEY(sid) REFERENCES Student,
    FOREIGN KEY(cid) REFERENCES Course
)
```

In [1]:
import script
import sqlite3

check, report = script.start('picklezero')

In [2]:
db = sqlite3.connect('CourseEnrollment.sqlite')
cursor = db.cursor()

---
For the next three questions write a SQL query that produces a result that is equivalent to the Relational Algebra expression.

### Question 1

Translate this Relational Algebra expression into SQL: $\pi_{name} \sigma_{num < 500}(Course)$

In [3]:
sql1 = """SELECT Course.name FROM Course WHERE Course.num<500"""

cursor.execute(sql1)
c1 = cursor.fetchall()
check('Q1', c1, points=5, sort=True)

Q1 appears correct

---
### Question 2

$\pi_{fname,lname}\sigma_{name='Files\ and\ Databases'}(Student\bowtie Enrolled\_in \bowtie Course)$

In [4]:
sql2 = """SELECT Student.fname, Student.lname
          FROM Student, Enrolled_in, Course
          WHERE Course.cid=Enrolled_in.cid AND
                Enrolled_in.sid=Student.sid AND
                Course.name='Files and Databases'"""

cursor.execute(sql2)
c2 = cursor.fetchall()
check('Q2', c2, points=5, sort=True)

Q2 appears correct

---
### Question 3

$\pi_{fname,lname} \sigma_{name='ANTH'}(Student \bowtie Department)$

In [5]:
sql3 = """SELECT Student.fname, Student.lname
          FROM Student, Department
          WHERE Student.did=Department.did AND Department.name='ANTH'"""

cursor.execute(sql3)
c3 = cursor.fetchall()
check('Q3', c3, points=5, sort=True)

Q3 appears correct

---
### Question 4

$\pi_{name} \sigma_{creditHours=3}(Course)$

In [6]:
sql4 = """SELECT Course.name FROM Course WHERE creditHours=3"""

cursor.execute(sql4)
c4 = cursor.fetchall()
check('Q4', c4, points=5, sort=True)

Q4 appears correct

---
For these next questions, write a SQL query to fetch the requested information. From here on, I want you
to write the Python code as well as the query.

### Question 5

Find the names of all 4 credit hour courses.

In [7]:
c5 = cursor.execute("""SELECT Course.name FROM Course WHERE creditHours=4""").fetchall()

check('Q5', c5, points=10, sort=True)

Q5 appears correct

---
### Question 6

Find the first and last names of all students enrolled in COMP courses.

In [8]:
c6 = cursor.execute("""SELECT DISTINCT Student.fname, Student.lname
                       FROM Student, Enrolled_in, Course, Department
                       WHERE Department.did=Course.did AND
                             Course.cid=Enrolled_in.cid AND
                             Enrolled_in.sid=Student.sid AND
                             Department.name='COMP'""").fetchall()

check('Q6', c6, points=10, sort=True)

Q6 appears correct

---
### Question 7

Find the first and last names of all students enrolled in courses of at least 500 level.

In [9]:
c7 = cursor.execute("""SELECT DISTINCT Student.fname, Student.lname
                       FROM Student, Enrolled_in, Course
                       WHERE Course.cid=Enrolled_in.cid AND
                             Enrolled_in.sid=Student.sid AND
                             Course.num>=500""").fetchall()

check('Q7', c7, points=10, sort=True)

Q7 appears correct

---
### Question 8

Find the first and last names of all students enrolled in 'Data Structures' and 'Anthropology of the Body and the Subject'.

In [10]:
c8 = cursor.execute("""SELECT DISTINCT Student.fname, Student.lname
                        FROM Student, Enrolled_in Ei1, Enrolled_in Ei2, Course C1, Course C2
                        WHERE Ei1.sid=Student.sid AND Ei2.sid=Student.sid AND
                              Ei1.cid=C1.cid AND C1.name='Data Structures' AND
                              Ei2.cid=C2.cid AND C2.name='Anthropology of the Body and the Subject'""").fetchall()

check('Q8', c8, points=15, sort=True)

Q8 appears correct