<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Files and Databases</h1>
<h1 style="font-size: 200%;">Problem Set 2</h1>
</div>

---
In the following questions you are asked to write a single SQL query to find the requested results from a database derived from demographic, COVID19, and hospital data. The database has the following tables:
<table style="border:none;"><tbody>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="7" style="text-align:center; background-color: skyblue;">Demographics</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>year</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>race</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>sex</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>agelo</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">agehi</td>
                <td style="border-collapse: collapse; border: 1px solid black;">count</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="5" style="text-align:center; background-color: skyblue;">County</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">name</td>
                <td style="border-collapse: collapse; border: 1px solid black;">region</td>
                <td style="border-collapse: collapse; border: 1px solid black;">cog</td>
                <td style="border-collapse: collapse; border: 1px solid black;">msa</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="4" style="text-align:center; background-color: skyblue;">Covid19</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>date</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">cases</td>
                <td style="border-collapse: collapse; border: 1px solid black;">deaths</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        <tr style="border:none;">
            <td colspan="6" style="border:none;">&nbsp;</td>
        </tr>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;"  colspan="3">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="8" style="text-align:center; background-color: skyblue;">Hospital</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>hid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">name</td>
                <td style="border-collapse: collapse; border: 1px solid black;">city</td>
                <td style="border-collapse: collapse; border: 1px solid black;">beds</td>
                <td style="border-collapse: collapse; border: 1px solid black;">icu</td>
                <td style="border-collapse: collapse; border: 1px solid black;">discharges</td>
                <td style="border-collapse: collapse; border: 1px solid black;">patientdays</td>
                <td style="border-collapse: collapse; border: 1px solid black;">revenue</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;" colspan="3">
            <table style="border-collapse: collapse; border: 1px solid black;"><tbody>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <th colspan="3" style="text-align:center; background-color: skyblue;">HospitalCounty</th></tr>
            <tr style="border-collapse: collapse; border: 1px solid black;">
                <td style="border-collapse: collapse; border: 1px solid black;"><u>hid</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><u>fips</u></td>
                <td style="border-collapse: collapse; border: 1px solid black;">incounty</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
</tbody></table>

An <a href="http://csbio.unc.edu/mcmillan/Media/NCCOVID19.db" download>example database</a> and the interactive SQL parser (<a href="http://www.csbio.unc.edu/mcmillan/Media/iSQLpy" download>iSQL.py</a>) are provided for experimentation. You will need to copy iSQL.py into the same Jupyter Hub directory as the notebook for this problem set and invoke it as follows:

    import iSQL

    query = iSQL.parser("NCCOVID19.db")

Make sure that you copy your SQL query into the cell provided for your answer. Only that cell will be graded.
***Warning***, if your query appears to give the correct result for the given database, that does not mean that it is correct. A correct query must give the requested result for *any* and *all* valid instances of the given database schema.

In [ ]:
import iSQL
query = iSQL.parser("NCCOVID19.db")

---
**Problem 1:** Generate a table with the name, population, and region of all North Carolina counties in 2020.

SELECT C.name, SUM(D.count) AS population, C.region
FROM County C, Demographics D
WHERE C.fips=D.fips AND D.year=2020
GROUP BY C.fips

---
**Problem 2:** Generate a table with the name and number of hospital beds found in each North Carolina county.

SELECT C.name, IFNULL(T.beds, 0) AS beds
FROM County C
LEFT JOIN (SELECT C.name, SUM(H.beds) AS beds
           FROM County C, HospitalCounty HC, Hospital H
           WHERE C.fips=HC.fips AND HC.hid=H.hid AND HC.incounty=1
           GROUP BY C.fips) AS T
ON C.name=T.name
GROUP BY C.fips

---
**Problem 3:** Generate a table with each North Carolina County and the date of its first confirmed COVID19 case.

SELECT C.name AS hospital_name, MIN(C19.date) AS date
FROM County C, Covid19 C19
WHERE C.fips=C19.fips AND C19.cases>0
GROUP BY C.fips

---
**Problem 4:** Generate a list of all Hospital names and North Carolina Counties in which there is more than one hospital.

SELECT H.name AS hospital_name, C.name AS county_name
FROM County C, Hospital H, HospitalCounty HC
WHERE C.fips=HC.fips AND H.hid=HC.hid AND HC.incounty=1 AND
                                          C.name IN (SELECT C.name
                                                     FROM County C, Hospital H, HospitalCounty HC
                                                     WHERE C.fips=HC.fips AND H.hid=HC.hid AND HC.incounty=1
                                                     GROUP BY C.fips
                                                     HAVING COUNT(C.fips)>1)

---
**Problem 5:** Generate a sorted list, from high to low, of North Carolina county ratios of residents in the age range of 25 to 45 to their total population in 2020. The output should include the county's name, 25-45 population, and ratio.

SELECT C.name, SUM(D.count) AS young_pop, (SUM(D.count)*1.0)/P.pop AS ratio
FROM County C, Demographics D, (SELECT D.fips, SUM(D.count) AS pop
                                FROM Demographics D
                                WHERE D.year=2020
                                GROUP BY D.fips) AS P
WHERE C.fips=D.fips AND C.fips=P.fips AND D.year=2020 AND D.agelo>=25 AND D.agehi<=45
GROUP BY C.fips
ORDER BY ratio DESC

---
**Problem 6:** Generate a sorted list, from high to low, of the largest increase in North Carolina county ratios of residents in the age range of 25 to 45 to their total population in 2020 when compared to 2000. The output should include the county's name, 25-45 population ratio in 2020, and delta of ratio change.

SELECT Pop20.name, Pop20.pop*1.0/Total20.total AS pop_ratio,
       Pop20.pop*1.0/Total20.total - Pop00.pop*1.0/Total00.total AS delta_ratio
FROM (SELECT C.name, SUM(D.count) AS pop
      FROM County C, Demographics D
      WHERE C.fips=D.fips AND year=2020 AND D.agelo>=25 AND D.agehi<=45
      GROUP BY C.fips) AS Pop20
JOIN (SELECT C.name, SUM(D.count) AS pop
      FROM County C, Demographics D
      WHERE C.fips=D.fips AND year=2000 AND D.agelo>=25 AND D.agehi<=45
      GROUP BY C.fips) AS Pop00 ON Pop20.name=Pop00.name
JOIN (SELECT C.name, SUM(D.count) AS total
      FROM County C, Demographics D
      WHERE C.fips=D.fips AND year=2020
      GROUP BY C.fips) AS Total20 ON Pop00.name=Total20.name
JOIN (SELECT C.name, SUM(D.count) AS total
      FROM County C, Demographics D
      WHERE C.fips=D.fips AND year=2000
      GROUP BY C.fips) AS Total00 ON Pop00.name=Total00.name
ORDER BY delta_ratio DESC

---
**Problem 7:** For each county, find the single day with the most COVID19 deaths reported. Generate a list of each county, date, and the number of deaths.

SELECT C.name, C19.date, MAX(C19.deaths) AS deaths
FROM County C, Covid19 C19
WHERE C.fips=C19.fips AND C19.deaths>0
GROUP BY C.fips

---
**Problem 8:** On what single day were the most North Carolina COVID19 deaths reported in the given reporting interval? For that day generate a list of each county, date, and the number of deaths. Include all counties, even those that did not report a death on the given date.

SELECT C.name, M.date, IFNULL(Tmp.deaths, 0) AS deaths
FROM County C 
LEFT JOIN (SELECT C19.fips, C19.date, C19.deaths
           FROM Covid19 C19
           WHERE C19.date IN (SELECT date
                              FROM (SELECT date, MAX(sum_deaths)
                                    FROM (SELECT C19.date, SUM(C19.deaths) AS sum_deaths
                                          FROM Covid19 C19
                                          GROUP BY C19.date)))) AS Tmp
ON C.fips=Tmp.fips, (SELECT date, MAX(sum_deaths)
                     FROM (SELECT C19.date, SUM(C19.deaths) AS sum_deaths
                           FROM Covid19 C19
                           GROUP BY C19.date)) AS M

---
**Problem 9:** Generate a list of North Carolina counties where white females of voting age (&ge; 18 years old) are the largest voting age demographic in *2020*. *In your report, provide multiple rows for each county of voting age residents broken down by race and sex. You should only include rows for countys in which the largest voting demographic is white and female.*

SELECT C.name, D.race, D.sex, SUM(D.count) AS total
FROM County C, Demographics D
WHERE C.fips=D.fips AND D.year=2020 AND D.agelo>=18 AND
                                        C.name IN (SELECT name
                                                   FROM (SELECT name, race, sex, MAX(total)
                                                         FROM (SELECT C.name, D.race, D.sex, SUM(D.count) AS total
                                                               FROM County C, Demographics D
                                                               WHERE C.fips=D.fips AND D.year=2020 AND D.agelo>=18
                                                               GROUP BY D.fips, D.race, D.sex)
                                                         GROUP BY name)
                                                   WHERE race='white' AND sex='female')
GROUP BY C.name, D.race, D.sex

---
**Problem 10:** What is the difference in total population between the age group from 45 to 54 in 2020 and the age group from 25 to 34 in *2000* for each county? Your output should be a list of counties and differences sorted from smallest (could be negative) to largest.

SELECT Older.name, Older.population-Younger.population AS difference
FROM (SELECT C.name, SUM(D.count) AS population
      FROM County C, Demographics D
      WHERE C.fips=D.fips AND D.agelo>=45 AND D.agelo<=54 AND D.year=2020
      GROUP BY C.name) AS Older
JOIN (SELECT C.name, SUM(D.count) AS population
      FROM County C, Demographics D
      WHERE C.fips=D.fips AND D.agelo>=25 AND D.agelo<=34 AND D.year=2000
      GROUP BY C.name) AS Younger
ON Older.name=Younger.name
ORDER BY difference

---
**Problem 11:** What 10 counties have the highest percentage of residents 65 or over years of age in *2020*? Provide both the county's name and percentage.

SELECT Whole.name, (Part.population*100.0)/Whole.population AS percentage
FROM (SELECT C.name, SUM(D.count) AS population
      FROM County C, Demographics D
      WHERE C.fips=D.fips AND D.year=2020
      GROUP BY C.name) AS Whole
JOIN (SELECT C.name, SUM(D.count) AS population
      FROM County C, Demographics D
      WHERE C.fips=D.fips AND D.agelo>=65 AND D.count>0 AND D.year=2020
      GROUP BY C.name) AS Part
ON Whole.name=Part.name
ORDER BY percentage DESC
LIMIT 10

---
**Problem 12:** What counties in North Carolina do not have a hospital? Provide each county's name, population, and non-white population percentage in *2020*.

SELECT Test.name, Test.pop, IFNULL(Tmp.non_white_perc, 0) AS percentage
FROM (SELECT CNH.fips, CNH.name, SUM(D.count) AS pop
      FROM (SELECT C.fips, C.name
            FROM County C, Demographics D
            WHERE C.fips=D.fips
            EXCEPT
            SELECT C.fips, C.name
            FROM County C, Demographics D, HospitalCounty HC
            WHERE C.fips=D.fips AND C.fips=HC.fips AND HC.incounty=1
            GROUP BY C.fips) AS CNH, Demographics D
       WHERE CNH.fips=D.fips AND D.year=2020
       GROUP BY CNH.fips) AS Test
LEFT JOIN (SELECT C.fips, P.pop, (SUM(D.count)*100.0)/P.pop AS non_white_perc
           FROM County C, Demographics D, (SELECT D2.fips, SUM(D2.count) AS pop
                                           FROM Demographics D2
                                           WHERE D2.year=2020
                                           GROUP BY D2.fips) AS P
           WHERE C.fips=D.fips AND D.fips=P.fips AND D.race!='white' AND D.year=2020
           GROUP BY D.fips) AS Tmp
ON Test.fips=Tmp.fips
GROUP BY Test.fips

---
**Problem 13:**  Which counties had the highest ratio of COVID19 cases to hospital-bed capacity? Do not consider counties that do not have a hospital and hopitals that have no beds. Output the county's name, its cases-to-bed ratio, and the day it occured.

SELECT C.name, (1.0*MAX(C19.cases))/B.beds AS ratio, C19.date
FROM County C, Covid19 C19,
     (SELECT HC.fips, SUM(H.beds) as beds
      FROM HospitalCounty HC, Hospital H
      WHERE HC.hid=H.hid AND HC.incounty=1
      GROUP BY HC.fips
      HAVING SUM(H.beds)>0) AS B
WHERE C.fips=B.fips AND C.fips=C19.fips
GROUP BY C.fips
ORDER BY ratio DESC

---
**Problem 14:** Give a breakdown of COVID19 cases, deaths, and hospitals by geographic region. For each of the geographic regions output the accumulated sum of COVID19 cases and deaths since January 22, 2020, as well as the number of hospital beds in that region.

SELECT C.region, SUM(AD.cases), SUM(AD.deaths), SUM(AB.beds)
FROM County C,
     (SELECT C.fips, D.cases, D.deaths
      FROM County C JOIN (SELECT fips, SUM(cases) AS cases, SUM(deaths) AS deaths 
                          FROM Covid19
                          WHERE date>='2020-01-22' 
                          GROUP BY fips) AS D ON C.fips=D.fips) AS AD,
     (SELECT C.fips, IFNULL(B.beds, 0) AS beds
      FROM County C LEFT JOIN (SELECT HC.fips, SUM(H.beds) AS beds 
                               FROM Hospital H, HospitalCounty HC
                               WHERE H.hid=HC.hid AND HC.incounty=1
                               GROUP BY HC.fips) AS B ON C.fips=B.fips) AS AB
WHERE C.fips=AD.fips AND C.fips=AB.fips
GROUP BY C.region

---
**Problem 15:** On your own, use the web to find the number of ICU beds in one of the hospitals in the given database that is currently reported to be 0 in our database. Write a SQL UPDATE command that sets this value to the one you discovered.

UPDATE Hospital
SET icu=84
WHERE name='CarolinaEast Medical Center'

---
**Problem 16:** Find one of the counties that has no hospital. On your own, use the web to find a nearby hospital in a bordering NC county. Write an INSERT command that inserts this hospital into the HospitalCounty table to indicate that this hospital serves a county where it is not located.

INSERT INTO HospitalCounty(hid, fips, incounty) VALUES(1095, 37075, 0)

---
**Problem 17:** New confirmed COVID19 cases and deaths are reported daily. On your own, use the web to find the number of confirmed cases and deaths for some county not provided in the database. Write an INSERT command to add this new county and date to the COVID19 table.

INSERT INTO Covid19(fips, date, cases, deaths) VALUES(37063, '2020-09-11', 36, 1)

---
**Problem 18:** In the given database the numbers of COVID cases and deaths are not broken down according to sex. Assume that this data becomes available. Write *one or more* ALTER TABLE commands that include separate counts for confirmed cases and deaths according to sex, with the assumption that the total case counts includes both sexes as well as cases where the sex was not reported.

ALTER TABLE Covid19 ADD COLUMN confirmed_male INTEGER;
ALTER TABLE Covid19 ADD COLUMN confirmed_female INTEGER;
ALTER TABLE Covid19 ADD COLUMN deaths_male INTEGER;
ALTER TABLE Covid19 ADD COLUMN deaths_female INTEGER;

---
**Problem 19:** Specify a CHECK that enforces that the sex-specific case and death counts are always &le; to the total counts based on your modified table from the previous problem.

CHECK(confirmed_male+confirmed_female<=cases AND deaths_male+deaths_female<=deaths)

---
**Problem 20:** Generate a list of all hosptials such that the county where they are located appears in their name.

SELECT T.hospital
FROM (SELECT H.name AS hospital, C.name AS county
      FROM Hospital H, HospitalCounty HC, County C
      WHERE H.hid=HC.hid AND C.fips=HC.fips
      GROUP BY H.name) AS T
WHERE T.hospital LIKE '%' || T.county || '%'