<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>COMP 521 Files and Databases Fall 2020</h1>
<h1 style="font-size: 200%;">Problem Set 5</h1>
</div>

---
In this problem set you will build and experiment with a NoSQL document database using MongoDB. To start you will need to go to the following website: https://docs.mongodb.com/manual/administration/install-community/
and follow installation instructions for MongoDB *Community Edition* on your OS.

Next you will need to download [covid19.json](http://csbio.unc.edu/mcmillan/Comp521F20/covid19.json) to use as your example database.

In order to load this json document as a database use the following command:

       $ mongoimport --jsonArray --db=covid19 --collection=counties --file covid19.json

Finally, you should be able to start the mongo command shell by typing **mongo** into a command line shell window. The result should resemble the following:

        $ mongo
        MongoDB shell version: 4.4.1
        connecting to: mongodb://127.0.0.1:27017/?compressors=disabled&gssapiServiceName=mongodb
        Implicit session: session { "id": UUID("25ebaf18-9a3c-4687-a3fb-9b3929887754") }
        MongoDB server version: 4.4.1
        >

As a test, try the following MongoDB commands:

        > use covid19
        switched to db covid19
        > db.counties.count()
        3194

The schema for this database is a list of documents with the following keys:

    {
        '_id': 5079,
        'name': 'Lincoln County', 
        'state': 'AR',
        'population': 13024,
        'cases':  [{'date': '2020-03-16', 'count': 1}, {'date': '2020-03-22', 'count': 1}, 
                   {'date': '2020-03-24', 'count': 1}, {'date': '2020-03-26', 'count': 2}], 
        'deaths': [{'date': '2020-03-27', 'count': 1}, {'date': '2020-04-02', 'count': 1}, 
                   {'date': '2020-05-28', 'count': 2}, {'date': '2020-05-30', 'count': 1}] 
    }
    
Where *_id* is the *fips* number that we saw in NCCOVID19.db.

---
**Problem 1:** Write a MongoDB query to find all states with a county named "Orange County". For each output both the state and the population of the county in that state. Copy *both* your query, and the output from your MongoDB query into the answer cell provided below.

db.counties.find({name: "Orange County"}, {_id: 0, state: 1, population: 1})


{ "state" : "CA", "population" : 3175692 }
{ "state" : "FL", "population" : 1393452 }
{ "state" : "IN", "population" : 19646 }
{ "state" : "NY", "population" : 384940 }
{ "state" : "NC", "population" : 148476 }
{ "state" : "TX", "population" : 83396 }
{ "state" : "VT", "population" : 28892 }
{ "state" : "VA", "population" : 37051 }

---
**Problem 2:** Write a MongoDB *mapReduce* function to generate a collection of the total number of Covid19 case counts for each state. Generate one record for each state with its two-letter abbreviation and its total number of cases. Copy *both* your mapReduce function, and the output from your MongoDB query into the answer cell provided below.

db.counties.mapReduce(
    function() {
        emit(this.state, this.cases.map(c => c.count).reduce((a, b) => a + b));
    },
    function(key, values) {
        return Array.sum(values);
    },
    {
        query: {cases: {$exists: true, $ne: []}},
        out: "covid_cases"
    }
)
db.covid_cases.find({}).sort({_id: 1})


{ "_id" : "AK", "value" : 14208 }
{ "_id" : "AL", "value" : 188785 }
{ "_id" : "AR", "value" : 111770 }
{ "_id" : "AZ", "value" : 241196 }
{ "_id" : "CA", "value" : 920723 }
{ "_id" : "CO", "value" : 101064 }
{ "_id" : "CT", "value" : 70628 }
{ "_id" : "DC", "value" : 16973 }
{ "_id" : "DE", "value" : 25007 }
{ "_id" : "FL", "value" : 791380 }
{ "_id" : "GA", "value" : 368588 }
{ "_id" : "HI", "value" : 14936 }
{ "_id" : "IA", "value" : 120061 }
{ "_id" : "ID", "value" : 60985 }
{ "_id" : "IL", "value" : 390656 }
{ "_id" : "IN", "value" : 172546 }
{ "_id" : "KS", "value" : 83485 }
{ "_id" : "KY", "value" : 101858 }
{ "_id" : "LA", "value" : 182143 }
{ "_id" : "MA", "value" : 166302 }
{ "_id" : "MD", "value" : 142567 }
{ "_id" : "ME", "value" : 6557 }
{ "_id" : "MI", "value" : 187058 }
{ "_id" : "MN", "value" : 143094 }
{ "_id" : "MO", "value" : 175937 }
{ "_id" : "MS", "value" : 118786 }
{ "_id" : "MT", "value" : 29995 }
{ "_id" : "NC", "value" : 266383 }
{ "_id" : "ND", "value" : 39911 }
{ "_id" : "NE", "value" : 66122 }
{ "_id" : "NH", "value" : 11026 }
{ "_id" : "NJ", "value" : 242897 }
{ "_id" : "NM", "value" : 44555 }
{ "_id" : "NV", "value" : 98078 }
{ "_id" : "NY", "value" : 501169 }
{ "_id" : "OH", "value" : 205367 }
{ "_id" : "OK", "value" : 119629 }
{ "_id" : "OR", "value" : 43241 }
{ "_id" : "PA", "value" : 200723 }
{ "_id" : "RI", "value" : 36930 }
{ "_id" : "SC", "value" : 173534 }
{ "_id" : "SD", "value" : 42014 }
{ "_id" : "TN", "value" : 261072 }
{ "_id" : "TX", "value" : 894666 }
{ "_id" : "UT", "value" : 110588 }
{ "_id" : "VA", "value" : 176818 }
{ "_id" : "VT", "value" : 2236 }
{ "_id" : "WA", "value" : 107826 }
{ "_id" : "WI", "value" : 221570 }
{ "_id" : "WV", "value" : 23100 }
{ "_id" : "WY", "value" : 11150 }

*******************************************************************************************************************************
# Aggregation alternative for testing purposes

db.counties.aggregate(
    [
        {$unwind: "$cases"},
        {$group: {_id: "$state", "covid_cases": {$sum: "$cases.count"}}},
        {$sort: {_id: 1}}
    ]
)
*******************************************************************************************************************************

*******************************************************************************************************************************
# A more efficient way using mapReduce

db.counties.mapReduce(
    function() {
        let total = 0;
        if (this.cases) {        
            for (let i = 0; i < this.cases.length; i++) {
                total += this.cases[i].count;
            }
        }
        emit(this.state, total);
    },
    function(key, values) {
        return Array.sum(values);
    },
    {out: {inline: 1}}
)
*******************************************************************************************************************************

---
**Problem 3:** Write a MongoDB *aggregate* function to generate a population total for each state. Copy *both* your aggregate function, and its output into the answer cell provided below.

db.counties.aggregate(
    [
        {$match: {}},
        {$group: {_id: "$state", _pop: {$sum: "$population"}}},
        {$project: {_id: 0, _state: "$_id", "_pop": 1}},
        {$project: {state: "$_state", "population": "$_pop"}},
        {$sort: {state: 1}}
    ]
)


{ "state" : "AK", "population" : 731545 }
{ "state" : "AL", "population" : 4903185 }
{ "state" : "AR", "population" : 3017804 }
{ "state" : "AZ", "population" : 7278717 }
{ "state" : "CA", "population" : 39512223 }
{ "state" : "CO", "population" : 5758736 }
{ "state" : "CT", "population" : 3565287 }
{ "state" : "DC", "population" : 705749 }
{ "state" : "DE", "population" : 973764 }
{ "state" : "FL", "population" : 21477737 }
{ "state" : "GA", "population" : 10617423 }
{ "state" : "HI", "population" : 1415872 }
{ "state" : "IA", "population" : 3155070 }
{ "state" : "ID", "population" : 1787065 }
{ "state" : "IL", "population" : 12671821 }
{ "state" : "IN", "population" : 6732219 }
{ "state" : "KS", "population" : 2913314 }
{ "state" : "KY", "population" : 4467673 }
{ "state" : "LA", "population" : 4648794 }
{ "state" : "MA", "population" : 6892503 }
{ "state" : "MD", "population" : 6045680 }
{ "state" : "ME", "population" : 1344212 }
{ "state" : "MI", "population" : 9986857 }
{ "state" : "MN", "population" : 5639632 }
{ "state" : "MO", "population" : 6137428 }
{ "state" : "MS", "population" : 2976149 }
{ "state" : "MT", "population" : 1068778 }
{ "state" : "NC", "population" : 10488084 }
{ "state" : "ND", "population" : 762062 }
{ "state" : "NE", "population" : 1934408 }
{ "state" : "NH", "population" : 1359711 }
{ "state" : "NJ", "population" : 8882190 }
{ "state" : "NM", "population" : 2096829 }
{ "state" : "NV", "population" : 3080156 }
{ "state" : "NY", "population" : 19453561 }
{ "state" : "OH", "population" : 11689100 }
{ "state" : "OK", "population" : 3956971 }
{ "state" : "OR", "population" : 4217737 }
{ "state" : "PA", "population" : 12801989 }
{ "state" : "RI", "population" : 1059361 }
{ "state" : "SC", "population" : 5148714 }
{ "state" : "SD", "population" : 884659 }
{ "state" : "TN", "population" : 6829174 }
{ "state" : "TX", "population" : 28995881 }
{ "state" : "UT", "population" : 3205958 }
{ "state" : "VA", "population" : 8535519 }
{ "state" : "VT", "population" : 623989 }
{ "state" : "WA", "population" : 7614893 }
{ "state" : "WI", "population" : 5822434 }
{ "state" : "WV", "population" : 1792147 }
{ "state" : "WY", "population" : 578759 }

---
**Problem 4:** Write a MongoDB query to find all days where a county reported more than 3500 Covid19 cases in a single day. Each output record should include the name of a county, state, a date, and the number of cases on that date. Copy *both* your query, and its output into the answer cell provided below.

db.counties.aggregate([
    {$match: {"cases.count": {$gt: 3500}}},
    {$unwind: "$cases"},
    {$match: {"cases.count": {$gt: 3500}}},
    {$project: {_id: 0, name: 1, state: 1, "cases.date": 1, "cases.count": 1}},
    {$sort: {_id: 1}}
])


{ "name" : "Maricopa County", "state" : "AZ", "cases" : { "date" : "2020-07-01", "count" : 3674 } }
{ "name" : "Los Angeles County", "state" : "CA", "cases" : { "date" : "2020-07-06", "count" : 8903 } }
{ "name" : "Los Angeles County", "state" : "CA", "cases" : { "date" : "2020-07-07", "count" : 3969 } }
{ "name" : "Los Angeles County", "state" : "CA", "cases" : { "date" : "2020-07-14", "count" : 4178 } }
{ "name" : "Los Angeles County", "state" : "CA", "cases" : { "date" : "2020-07-16", "count" : 4459 } }
{ "name" : "Los Angeles County", "state" : "CA", "cases" : { "date" : "2020-07-25", "count" : 3568 } }
{ "name" : "Los Angeles County", "state" : "CA", "cases" : { "date" : "2020-07-29", "count" : 4741 } }
{ "name" : "Los Angeles County", "state" : "CA", "cases" : { "date" : "2020-10-22", "count" : 3579 } }
{ "name" : "Miami-Dade County", "state" : "FL", "cases" : { "date" : "2020-07-12", "count" : 3576 } }
{ "name" : "Miami-Dade County", "state" : "FL", "cases" : { "date" : "2020-08-12", "count" : 4141 } }
{ "name" : "Bexar County", "state" : "TX", "cases" : { "date" : "2020-07-16", "count" : 9589 } }
{ "name" : "Dallas County", "state" : "TX", "cases" : { "date" : "2020-08-17", "count" : 5361 } }
{ "name" : "Harris County", "state" : "TX", "cases" : { "date" : "2020-08-03", "count" : 3678 } }
{ "name" : "Harris County", "state" : "TX", "cases" : { "date" : "2020-09-22", "count" : 14129 } }

*******************************************************************************************************************************
# Another approach, but more complicated

db.counties.aggregate([
    {$match: {"cases.count": {$gt: 3500}}},
    {$project: {
        cases: {$filter: {
            input: "$cases",
            as: "cases",
            cond: {$gt: ["$$cases.count", 3500]}
        }}
    }},
    {$sort: {_id: 1}}
]).map(doc => doc.cases).forEach(function(outer) {
    outer.forEach(function(inner) {
        printjson(inner);
    })
})
*******************************************************************************************************************************

---
**Problem 5:** Write a MongoDB query to find the total number of Covid19 deaths for every county and every state. Your output should include the county's name, its state, the total number of deaths in the database, and the population of each county. Copy *only* the query into the answer cell provided below.

db.counties.mapReduce(
    function() {
        emit({county: this.name, state: this.state, population: this.population},
                      this.deaths.map(c => c.count).reduce((a, b) => a + b));
    },
    function(key, values) {
        return values[0];
    },
    {
        query: {deaths: {$exists: true, $ne: []}},
        out: "covid_deaths"
    }
)
db.covid_deaths.find({}).sort({_id: 1})

*******************************************************************************************************************************
# A simpler approach, output is formatted differently

db.counties.mapReduce(
    function() {
        if (this.deaths) {
            for (let i = 0; i < this.deaths.length; i++) {
                emit(this._id, {state: this.state, county: this.name, pop: this.population, deaths: this.deaths[i].count});
            }
        }
    },
    function(key, values) {
        let total = 0;
        for (let i = 0; i < values.length; i++) {
            total += values[i].deaths;
        }
        return {state: values[0].state, county: values[0].county, pop: values[0].pop, deaths: total};
    },
    {out: {inline: 1}}
)
*******************************************************************************************************************************

*******************************************************************************************************************************
# Using aggregation

db.counties.aggregate(
    [
        {$match: {}},
        {$unwind: "$deaths"},
        {$group: {
            _id: "$_id",
            county: {"$first": "$name"},
            state: {"$first": "$state"},
            population: {"$first": "$population"},
            "deaths": {$sum: "$deaths.count"}
        }},
        {$project: {
            _id: 0,
            county: 1,
            state: 1,
            population: 1,
            deaths: 1
        }},
        {$sort: {_id: 1}}
    ]
)
*******************************************************************************************************************************